@use "../abstracts/" as a;

.cta {
  font-family: "Montserrat";
  width: 33%;
  min-width: 24rem;
  margin: 3rem auto 0;
  font-size: a.$font-size-default;

  &__heading {
    font-size: a.$font-size-2xl;
    letter-spacing: 0.1rem;
  }

  &__big-text {
    font-size: a.$font-size-lg;
  }

  &__line {
    height: 1px;
    color: a.$secondary-color-pink-1;
    width: 55vw;
    margin: 1rem auto 0;
  }

  &__radio {
    border: 1px solid;
    height: 2.1rem;
    width: 2.1rem;
  }

  &__label {
    font-size: a.$font-size-xl;
  }

  &__btn {
    margin: 3rem auto;
  }
}
