@use "../abstracts/" as a;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-auto-rows: auto;
  gap: 2rem;

  @include a.respond(tab-port) {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }

  @include a.respond(mobile-lg) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }

  &__item {
    &--big {
      grid-column: span 2;

      @include a.respond(tab-sm) {
        grid-column: span 1;
      }
    }
  }
}
