@use "../abstracts" as a;

.nav {

  &__img {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: a.$zindex-front;
  }

  &__menu {
    position: fixed;
    padding: 9rem 5rem 2rem 2rem;
    width: 25%;
    min-width: 200px;
    background-color: a.$primary-color-light;
    z-index: a.$zindex-front;
    top: 0;
    right: 0;
  }

  &__burger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
  }
}
