@use "../abstracts" as a;

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn {
  &,
  &:link,
  &:visited {
    display: inline-flex;
    font-size: a.$font-size-default;
    line-height: 1;
    cursor: pointer;
    border-radius: 4rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    gap: 0.3rem;
    align-content: center;
    text-align: center;
  }

  &__nav {
    border-style: none;
    color: a.$active-color;

    &--danger {
      color: a.$warning-color !important;
    }
  }

  &--light {
    &,
    &:link,
    &:visited {
      border: none;
      color: a.$primary-color-dark;
      background-color: a.$active-color;
    }
    &:hover {
      background-color: a.$success-color;
    }
  }

  &--dark {
    &,
    &:link,
    &:visited {
      border: none;
      color: a.$active-color;
      background-color: transparent;
    }
    &:hover {
      color: a.$primary-color-dark;
      background-color: a.$success-color;
    }
  }

  &--warning {
    &,
    &:link,
    &:visited {
      border: none;
      color: a.$warning-color;
      background-color: transparent;
      border-color: a.$active-color;
    }
    &:hover {
      color: a.$primary-color-dark;
      background-color: a.$warning-color;
    }
  }
}
