@use "../abstracts" as a;
@use "../base/" as b;

.form {
  margin: 3rem;

  &__input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    &--col {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__label {
    flex: 1;
    font-size: a.$font-size-default;

    @include a.respond(tab-port) {
      font-size: a.$font-size-sm;
    }
  }

  &__input {
    flex: 3;
    font-size: a.$font-size-default;
    border: 1px solid a.$primary-color-dark;
    border-radius: 7px;
    padding: 0.5rem 1rem;
  }

  &__fieldset {
    font-size: a.$font-size-default;
    padding: 2rem;
    border-radius: 7px;
  }

  &__legend {
    padding: 2rem;
  }
}
