@use "../abstracts/" as a;

.section-hero {
  height: 65vh;
  min-height: 64rem;
  position: relative;
  background-color: a.$primary-color-darker;
  z-index: inherit;
}

.section-invite {
  padding: 7.2rem;
  font-weight: 350;
  letter-spacing: 0.3rem;
  font-size: a.$font-size-xl;
  text-transform: uppercase;
  z-index: a.$zindex-mid;

  @include a.respond(tab-sm) {
    font-size: a.$font-size-lg;
  }

  @include a.respond(mobile-lg) {
    padding: 4rem;
    font-size: a.$font-size-default;
  }

  @include a.respond(mobile-sm) {
    padding: 2rem;
  }
}

.section-cta {
  z-index: a.$zindex-mid;
  padding: 3rem 0;
  background-color: a.$primary-color-darker;
}
