@use "../abstracts" as a;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap");

@font-face {
  font-family: "SweetHipster";
  src: url("../../assets/fonts/SweetHipster-PzlE.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: a.$text-color-light-1;
}

.heading-title {
  font-family: "SweetHipster";
  color: a.$secondary-color-pink-1;
  font-size: 22rem;

  @include a.respond(tab-sm) {
    font-size: 15rem;
  }

  @include a.respond(mobile-lg) {
    font-size: 11rem;
  }

  @include a.respond(mobile-sm) {
    font-size: 9rem;
  }
}

.paragraph {
  font-size: a.$font-size-default;
}
